APP_ENVIRONMENT = development

app.baseURL = 'http://localhost/Task_management/backend/public/'

database.default.hostname = localhost
database.default.database = task_management
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# JWT
TASK_JWT_SECRET = change-this-secret-in-env
TASK_JWT_ISSUER = task-management-api
TASK_JWT_AUDIENCE = task-management-frontend
TASK_JWT_TTL = 3600
TASK_REFRESH_TTL = 604800
